[Desktop Entry]
Comment=Yamagi Quake II is an alternative client for id Software's Quake II
Categories=Game;Shooter;
Exec=YamagiQ2.sh
Icon=org.yamagi.YamagiQ2
Name=Yamagi Quake II
StartupNotify=true
PrefersNonDefaultGPU=true
Terminal=false
Type=Application
Keywords=quake;first;person;shooter;multiplayer;
Actions=xatrix;roque;

[Desktop Action xatrix]
Name=The Reckoning
Exec=YamagiQ2.sh +set game xatrix 

[Desktop Action roque]
Name=Ground Zero
Exec=YamagiQ2.sh +set game rogue
